<!-- Content Block -->
<div class="flex justify-center items-center h-screen bg-gray-100">
  <div class="bg-white p-8 rounded shadow-md">
    <h2 class="text-2xl font-bold mb-4">Edit Blog Post</h2>

    <!-- Edit Blog Form -->
<form action="/editpost/{{ blog.id }}?_method=PUT" method="POST">
      <!-- Blog Title -->
      <div class="mb-4">
        <label for="title" class="block mb-2 font-semibold">Title:</label>
        <input type="text" id="title" name="title" value="{{ blog.title }}" required class="w-full border border-gray-300 rounded py-2 px-3">
      </div>

      <!-- Excerpt -->
      <div class="mb-4">
        <label for="excerpt" class="block mb-2 font-semibold">Excerpt:</label>
        <textarea id="excerpt" name="excerpt" required class="w-full border border-gray-300 rounded py-2 px-3">{{ blog.excerpt }}</textarea>
      </div>

      <!-- Content -->
      <div class="mb-4">
        <label for="content" class="block mb-2 font-semibold">Content:</label>
        <textarea id="content" name="content" required class="w-full border border-gray-300 rounded py-2 px-3">{{ blog.content }}</textarea>
      </div>

      <input type="hidden" name="userId" value="{{ blog.userId }}">
      <input type="hidden" name="_method" value="PUT">

      <!-- Submit Button -->
      <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded">Submit</button>
    </form>
  </div>
</div>
